altair==5.3.0
attrs==23.2.0
blinker==1.8.2
cachetools==5.3.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
charset-normalizer==3.3.2
click==8.1.7
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1712429958595/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1717209310468/work
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1716996535576/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1713760653872/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695380072051/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy_loader_1712342969017/work
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1715976209092/work
mdurl==0.1.2
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225421156/work/dist/numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl#sha256=011d57633d659db8280a5811d62d0c5a615719a6d7cbd46a04f6ffce0c2a7db3
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas==2.2.2
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1712154527146/work
protobuf==4.25.3
pyarrow==16.1.0
pydeck==0.9.1
Pygments==2.18.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz==2024.1
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1695567640719/work
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1697028826230/work/dist/scikit_image-0.22.0-cp312-cp312-macosx_11_0_arm64.whl#sha256=621ef2cca30de65d787d1ec63c2e948a3fb6726c1215dcdff580c3debb414580
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1716470295081/work/dist/scipy-1.13.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=86ef5aef692e7c18a0cc387509e32862b283077a7d535281455caad95420fd22
setuptools==70.0.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
streamlit==1.35.0
tenacity==8.3.0
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1716488387393/work
toml==0.10.2
toolz==0.12.1
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1708363367885/work
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.2.1
wheel==0.43.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
